body {
  background-color: #04091E;
}

h1 {
  text-align: center;
  color: #f8f8ff;
}

h2 {
  text-align: center;
  color: #f8f8ff;
  font-family: "Open Sans", sans-serif;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600;
  line-height: 26.4px;
  margin: 0px;
}

#vis {
  margin: auto;
}
h4 {
  color: #f8f8ff;
  margin-bottom: 4px;
}

p{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-align: left;
  line-height: 20px; 
  color:#fff;
  padding: 0px 30px 30px 0px;
}
      

.legendLinear text.label {
  fill: #fff;
}

.quantize {
  float: right;
}

.label ,.legendTitle{
  fill:#fff;
}

.tick {
  fill: #fff;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.label {
  margin: 50px;
}
.checkbox-filters {
  /* border-style: double; */
  color: #fff;
  /* border-radius: 5px; */
  background: rgba(12, 12, 12, 0.85);
  padding: 5px;
  margin-top: 10px;
  width: 140px;
  height: 150px;
  float: right;
}

.checkboxes > * {
  flex: 1 1 0;
}

svg{
  display: block;
  margin: auto;
  padding: 0px;
}

#slider6{
  display: flex;
  width: 880px;
  margin: 0px auto;
}

#slider7{
  display: flex;
  width: 880px;
  margin: 0px auto;
}

/* SIDEBAR */
#sidebar {
  position: absolute;
  z-index: 1012022;
  top: 100px;
  right: 10px;
  width: 150px;
}

/* LEGEND */
.av {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  font-size: 14px;
}

.color_box {
  margin-right: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 20px;

}

.caption {
  display: inline-block;
}

#legend {
  z-index: 1012022;
  background: rgba(12, 12, 12, 0.85);
  font-size: 12px;
}

#legend-content {
  padding: 5px;
  display: block;
}

.line {
  line-height: 18px;
  display: flex;
  color: #f8f8ff;
}

#pop_0 {
  color: #FFF7EC;
}

#pop_100 {
  color: #E5BCAB;
}

#pop_200 {
  color: #C8836F;
}

#pop_300 {
  color: #A74B37;
}

#pop_400 {
  color: #800002;
}

#pop_water {
  color: #7C7CC2;
}

#pop_earth {
  color: #89A969;
}

#pop_fire {
  color: #C48481;
}

#pop_other {
  color: rgb(128,128,128);
}

/* DATA CITING SECTION */
#datacite {
  text-align: center;
}

/* TITLE BOX SECTION */
#titlebox {
  position: absolute;
  z-index: 1012022;
  top: 100px;
  left: 10px;
  width: 275px;
  height: 350px;
  background: rgba(12, 12, 12, 0.8);
  color: #eee;
  padding: 5px;
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#titlebox-content {
  font-size: 12px;
  line-height: 16px;
}

/* Timeline Slider Feature Styles */
.d3-slider {
  position: relative;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  border: 1px solid #f8f8ff;
  z-index: 2;
}

.d3-slider-horizontal {
  height: .8em;
}  

.d3-slider-vertical {
  width: .8em;
  height: 100px;
}      

.d3-slider-handle {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background: #eee;
  background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
  z-index: 3;
}

.d3-slider-handle:hover {
  border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.d3-slider-axis {
  position: relative;
  z-index: 1;    
}

.d3-slider-axis-bottom {
  top: .8em;
}

.d3-slider-axis-right {
  left: .8em;
}

.d3-slider-axis path {
  stroke-width: 0;
  fill: none;
}

.d3-slider-axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
  display: flex;
}

.d3-slider-axis text {
  font-size: 11px;
  display: flex;
}

.d3-slider-vertical .d3-slider-handle {
  left: -.25em;
  margin-left: 0;
  margin-bottom: -.6em;      
}

.axis path,
.axis tick,
.axis line {
    fill: none;
    stroke: none;
    /*shape-rendering: crispEdges;*/
    shape-rendering: geometricPrecision;
    /*shape-rendering: auto;*/
}

.axis text {
    font-size: 12px;
    fill: #AAAAAA;
    font-weight: 400;
}

.legendTitle {
    font-size: 14px;
    fill: #AAAAAA;  /*#4F4F4F;*/
    font-weight: 300;
}

.january {
    font-size: 14px;
    text-anchor: start;
    font-weight: 300;
    fill: #AAAAAA;
}

.yearText {
    font-size: 18px;
    text-anchor: start;
    font-weight: 300;
    fill: #AAAAAA;
}

.yearLine {
    stroke: #AAAAAA;
}

.axisText {
    fill: #C4C4C4;
    font-size: 11px;
    font-weight: 300;
    text-anchor: middle;
}

.axisCircles {
    fill: none;
    stroke: #E8E8E8;
    stroke-width: 1.25px;  /* 1px */
    /*shape-rendering: geometricPrecision;*/
    /*shape-rendering: crispEdges;*/
    shape-rendering: auto;
}
.line {
    fill: none;
    /*stroke: red;*/  /*lightgreen;*/
    stroke-width: 2.3px;  /*1.5px; 1.25px 2.5px 2.75*/
    /*shape-rendering: crispEdges;*/
    shape-rendering: geometricPrecision;
}
.path {
    /*stroke: steelblue;*/
    fill: none;
    stroke-width: 3px;
}

.play {
    font: 500 35px sans-serif;  /* 40px */
    fill: #e5e5e5; 
    cursor: pointer;
}
.play:hover {
    fill: #ccc;
}
