body {
  background-color: #04091E;
}

h1, h2 {
  text-align: center;
  color: #f8f8ff;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400;
  line-height: 26.4px;
}

h4 {
  color: #f8f8ff;
}

p{
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-align: left;
  line-height: 20px; 
  color:#fff;
  padding: 50px 30px 30px 0px;
}
      

.legendLinear text.label {
  fill: #fff;
}

.tick {
  fill: #fff;
}

.checkboxes {
  display: flex;
  color: #fff;
}

.checkbox-filters {
  border-style: double;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;

}

.checkboxes > * {
  flex: 1 1 0;
}

/* Timeline Slider Feature Styles */
.d3-slider {
  position: relative;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  border: 1px solid #f8f8ff;
  z-index: 2;
}

.d3-slider-horizontal {
  height: .8em;
}  

.d3-slider-vertical {
  width: .8em;
  height: 100px;
}      

.d3-slider-handle {
  position: absolute;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  background: #eee;
  background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
  z-index: 3;
}

.d3-slider-handle:hover {
  border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
  top: -.3em;
  margin-left: -.6em;
}

.d3-slider-axis {
  position: relative;
  z-index: 1;    
}

.d3-slider-axis-bottom {
  top: .8em;
}

.d3-slider-axis-right {
  left: .8em;
}

.d3-slider-axis path {
  stroke-width: 0;
  fill: none;
}

.d3-slider-axis line {
  fill: none;
  stroke: #aaa;
  shape-rendering: crispEdges;
  display: flex;
}

.d3-slider-axis text {
  font-size: 11px;
  display: flex;
}

.d3-slider-vertical .d3-slider-handle {
  left: -.25em;
  margin-left: 0;
  margin-bottom: -.6em;      
}

svg{
  display: block;
  margin: auto;
}

#slider6{
  display: flex;
  width: 880px;
  margin: auto;
}